
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #36454F
}

.logo-placeholder {
    height:100px;
}

.commands-placeholder {
    height: 100px;
}

.table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.config-table{
    border: 1px solid;
    width: 60%;
    color: white;
}

.admin-table{
    border: 1px solid;
    width: 90%;
    color: white;
}

tr {
    border: 1px solid;
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center; */
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

td, th {
    border: 1px solid;
}

.commands {
    position:fixed;
    width:100%;
    text-align: center;
    background-color:#36454F;
    top:calc(100% - 100px);
    height:100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.table-container input[type=text] {
    width: 100%;
}

input[type=text]:read-only {
    background-color: #eee;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    color: white;
}

.login > div {
    margin: 6px;
}

.logo-container {
    width:100%;
    text-align:center;
    background-color:#36454F; 
    position:fixed;
    top: 0;
}

.commands input[type=button], button {
	margin: 3px 3px 20px 3px;
	width: 80px;
	height: 30px;
	font-size: 15px;
}


