<html>
    <head>
        <title>User Management</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='cs/style.css') }}">
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    </head>
    <body>
        <div class="logo-container">
                <img class="logo" src="{{url_for('static', filename='images/logo1.png')}}" />
        </div>
        <div class="logo-placeholder">
        </div>

        <div class="table-container">
            <table class="admin-table">
                <tr>
                    <th>Username</th>
                    <th>Change Password</th>
                    <th>Delete</th>
                </tr>
                {% for username in usernames %}
                <tr>
                    <td>
                        <p class="username-para">{{ username }}</p>
                    </td>
                    <td>
                        <input type="button" value="Password" class="password-button" onclick="(()=>{
                                document.getElementById('user-to-change-password').innerHTML = this.parentElement.parentElement.getElementsByClassName('username-para')[0].innerHTML;
                                document.getElementById('change-password-dlg').showModal(); 
                            })()"/>
                    </td>
                    <td>
                        {% if username != 'admin' %}
                        <input type="button" value="Delete" class="delete-user" onclick="(()=>{
                                document.getElementById('user-to-delete').innerHTML = this.parentElement.parentElement.getElementsByClassName('username-para')[0].innerHTML;
                                document.getElementById('delete-user-dlg').showModal()
                            })()"/>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="commands-placeholder">
        </div>
        <div class="commands">
            <div>
                <input type="button" value="New User" onclick="(()=>document.getElementById('add-new-user-dlg').showModal())()"/>
            </div>
            <div>
                <input type="button" value="Configure" onclick="config()"/>
            </div>
            <div>
                <input type="button" value="Logout" onclick="logout()"/>
            </div>
	    <div>
		<dialog id="add-new-user-dlg">
			<p>Add a new user.</p>
			<form method="dialog">
                <input type="text" id="new-user-name" placeholder="Username" />
                <input type="password" id="new-user-password" placeholder="Password" />
                <input type="password" id="new-user-password-repeat" placeholder="Repeat Password" />
				<button onclick="addNewUser()">OK</button>
			</form>
		</dialog>
        <dialog id="change-password-dlg">
			<p>Change password for the user <strong id="user-to-change-password"></strong>.</p>
			<form method="dialog">
                <input type="password" id="new-password" placeholder="Password" />
                <input type="password" id="new-password-repeat" placeholder="Repeat Password" />
				<button onclick="changePassword()">OK</button>
			</form>
		</dialog>
		<dialog id="delete-user-dlg">
			<p>Delete the user <strong id="user-to-delete"></strong></p>
			<form method="dialog">
                <button value="cancel">Cancel</button>
				<button onclick="deleteUser()">OK</button>
			</form>
		</dialog>
		<dialog id="reset-period-dlg">
			<p>Configuration is saved successfully.</p>
			<form method="dialog">
				<button onclick="resetPeriod()">OK</button>
			</form>
		</dialog>
    </body>
</html>
