<html>
    <head>
        <title>Configure the Modbus Relays</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='cs/style.css') }}">
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    </head>
    <body>
        <img class="logo" src="{{url_for('static', filename='images/logo1.png')}}" />
        <div class="table-container">
            <table>
                <tr>
                    <th><input type="checkbox" name="select_all" id="select_all"></th>
                    <th>Unit number (DEC / HEX)</th>
                    <th>Modbus Address</th>
                    <th>Holding Register</th>
                    <th>Delay Time (seconds)</th>
                </tr>
                {% if units | length == 0 %}
                    {% for n in range(1, 201) %}
                    <tr>
                        <td>
                            <input type="checkbox" name="select_{{n}}" id="select_{{n}}" onchange="unitSelected(this)">
                        </td>
                        <td>
                            <input type="text" value="{{n}} / {{'%#x'%n}}" class="unit-number" readonly="readonly"/>
                        </td>
                        <td>
                            <input type="text" value="1" class="modbus-address" onclick="this.focus();this.select();this.oldValue=this.value" onchange="addressChanged(this)"/>
                        </td>
                        <td>
                            <input type="text" value="1" class="holding-register" onclick="this.focus();this.select()" onchange="registerChanged(this.oldValue, this.value)"/>
                        </td>
                        <td>
                            <input type="text" value="1" class="delay-time" onclick="this.focus();this.select()" onchange="delayChanged(this.oldValue, this.value)"/>
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    {% for unit in units %}
                    <tr>
                        <td>
                            {% if unit.selected %}
                                <input type="checkbox" checked name="select_{{loop.index}}" id="select_{{loop.index}}" onchange="unitSelected(this)">
                            {% else %}
                                <input type="checkbox" name="select_{{loop.index}}" id="select_{{loop.index}}" onchange="unitSelected(this)">
                            {% endif %}
                        </td>
                        <td>
                            <input type="text" value="{{unit.id}}" class="unit-number" readonly="readonly"/>
                        </td>
                        <td>
                            <input type="text" value="{{unit.address}}" class="modbus-address" onclick="this.focus();this.select();this.oldValue=this.value" onchange="addressChanged(this)"/>
                        </td>
                        <td>
                            <input type="text" value="{{unit.register}}" class="holding-register" onclick="this.focus();this.select()" onchange="registerChanged(this.oldValue, this.value)"/>
                        </td>
                        <td>
                            <input type="text" value="{{unit.delay}}" class="delay-time" onclick="this.focus();this.select()" onchange="delayChanged(this.oldValue, this.value)"/>
                        </td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </table>
        </div>
        <div class="commands">
            <div>
                <input type="button" value="Download" />
            </div>
            <div>
                <input type="button" value="Upload" />
            </div>
            <div>
                <input type="button" value="Save" onclick="save(this)"/>
            </div>
        </div>
    </body>
</html>