<html>
    <head>
        <title>Configure the Modbus Relays</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='cs/style.css') }}">
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    </head>
    <body>
        <img class="logo" src="{{url_for('static', filename='images/logo2.png')}}" />
        <form class="login" action="" method = "POST">
            <div>Username <input type="username" name="username" /></div>
            <div>Password <input type="password" name="password" /></div>
            <div><input type="submit" value="Submit" /></div>
        </form>
    </body>
</html>
