<html>
    <head>
        <title>Configure the Modbus Relays</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='cs/style.css') }}">
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    </head>
    <body>
        <img src="images/logo2.png" alt="" />
        <form action="" method = "POST">
            <p>email <input type="username" name="username" /></p>
            <p>password <input type="password" name="password" /></p>
            <p>submit <input type="submit" value="Submit" /></p>
        </form>
    </body>
</html>